{% extends 'base.html' %}
{% load comma_separator %}
{% block title %}Home{% endblock title %}
{% block extracss %}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    .btnStyle {
    border-radius: 0 15px 15px 0;
    margin-bottom:25%;
    background-color: #111; 
    /* border: 1px solid #3079ED;  */
    color: #FFFFFF;
    padding: 4px;
    width:100px;
    position: absolute;
    bottom: 10px;
    z-index: 999999;
    cursor: pointer;
    transition: 0.6s;
}
</style>
{% endblock extracss %}
{% block body %}
{% include 'sidebar.html' %}

<div id="map-wrapper">
    <div id="mapid"></div>
    <span id="btn" class="btnStyle" onclick="openNav()">Details</span>
</div>


{% endblock body %}
{% block scripts %}
<script>
    const mapbox_token = '{{access_token}}'
    var covid_cases = {{cases| safe | escape}}
 
    function openNav() {
    document.getElementById("mySidenav").style.width = "26%";
    $("#btn").hide()
    document.getElementById("mapid").style.marginLeft = "26%";
    }

    function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    $("#btn").show()
    document.getElementById("mapid").style.marginLeft = "0";
    }

</script>
{% endblock scripts %}