{% load static %}
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<div class="sidenav">
    <div class="container">
        <h2 style="text-align: center;">Total Cases</h2>
        <p style="text-align: center; font-size: 36px;"><b>{{total_cases}}</b></p>
        <hr>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h3 style="text-align: center;">Deaths</h3>
                <p style="text-align: center; font-size: 24px;"><b>{{total_deaths}}</b></p>
            </div>
            <div class="col-md-6 col-sm-12">
                <h3 style="text-align: center;">Recovered</h3>
                <p style="text-align: center; font-size: 24px;"><b>{{total_recovered}}</b></p>
            </div>
        </div>
        <hr>
        <h2 style="text-align: center;">Active Cases</h2>
        <p style="text-align: center; font-size: 36px;"><b>{{total_active}}</b></p>
        {% if cases %}
        <table>
            <tr>
                <th>Country</th>
                <th>Cases</th>
                <th>Deaths</th>
            </tr>
        {% for case in cases%}
        <tr>
            <td>{{case.country}}</td>
            <td>{{case.cases}}</td>
            <td>{{case.deaths}}</td>
        </tr>
        {% endfor %}
        </table>
        {% endif %}
    </div>
</div>
