{% load static %}
<div class="sidenav" id="mySidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="container">
        <h2 style="text-align: center;">Total Cases</h2>
        <p style="text-align: center; font-size: 36px;" id="cases"><b></b></p>
        <hr>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <h3 style="text-align: center;">Deaths</h3>
                <p style="text-align: center; font-size: 24px;" id="deaths"><b></b></p>
            </div>
            <div class="col-lg-6 col-md-12">
                <h3 style="text-align: center;">Recovered</h3>
                <p style="text-align: center; font-size: 24px;" id="recovered"><b></b></p>
            </div>
        </div>
        <hr>
        <h2 style="text-align: center;">Active Cases</h2>
        <p style="text-align: center; font-size: 36px;" id="active-cases"><b></b></p>
        <div id="table">

        </div>
    </div>
</div>